#main-nav {
  box-shadow: 2px 2px 5px #ffc107;
  background: #000000;
  opacity: 0.9;
}

.custom-toggler.navbar-toggler {
  border-color: #ffc107;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 193, 7, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
