html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#main-nav {
  box-shadow: 0px 5px 2px -2px #ffc107;
  background: #000000;
}

/* Navbar Toggler  */
.custom-toggler.navbar-toggler {
  border-color: #ffc107;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 193, 7, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Navbar Items Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.dropdown-item {
  transition: all 0.3s ease;
}

/* Dropdown Menu Hover */
@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* Dropdown Menu Slide */
.animate {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

.slideIn {
  animation-name: slideIn;
}

/* Landing Page Banner */
.image-container {
  background-color: #000000;
}

.image-container img {
  opacity: 0.6;
  width: 100%;
  max-height: 300px;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* Circle Icons */
.circle-icon:hover {
  color: #ffc107;
  background: #000000;
  border-radius: 50%;
}

.circle-icon {
  padding: 10px;
  color: #000000;
}

#warranty {
  position: relative;
  min-height: 200px;
  background: url('./images/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#authors img {
  margin-top: -50px;
  height: 155px;
  width: auto;
  min-width: 136px;
}

#booking {
  position: relative;
  min-height: 200px;
  background: #000000 url('./images/sti-track.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;
  color: #fff;
}

#gallery img:hover {
  cursor: pointer;
}

#team img {
  margin-top: -50px;
  height: 155px;
  width: auto;
  min-width: 136px;
}

footer {
  background: #000000;
  font-size: 0.8rem;
  box-shadow: 0px 5px 3px -3px #ffc107 inset;
}
